{% extends "base.html" %}
{% block content%}

    <div>
        <p>This is indicators page</p>
    </div>
    <div>
        <p>Interval: {{ interval }}</p>
    </div>
    <div class="table-responsive" style="font-size: 12px">
        <table class="table table-light table-bordered table-hover table-sm">
            <thead>
            {% for cell in df.columns %}
                <th>{{ cell }}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for index, row in df.iterrows() %}
                <tr>
                {% for cell in row %}
                    {% if cell is integer %}
                        <td>{{ cell }}</td>
                    {% elif cell is float %}
                        <td>{{ cell|round(5) }}</td>
                    {% else %}
                        <td>{{ cell|check_value }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}